<%= image_tag 'main-window.png', width: '600px' %>

<p>
  <%= link_to 'Download', 'https://github.com/bswinnerton/launchbar-github/releases/download/v0.2.6/github.lbaction.zip' %> |
  <%= link_to 'Install', '/auth/github' %>
</p>
