// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}

body {
  background: linear-gradient(135deg, #471E7F, #E99DFF) fixed;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Overlock', sans-serif;

  h1 {
    font-family: 'Josefin Slab', cursive;
    font-weight: 400;
    color: #FDFBFF;
  }

  a {
    color: #FFFFFF;
  }

  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

  .heading {
    font-size: 24px;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .main-preview img {
    width: 600px;
  }
}
